@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,400;0,600;1,400&display=swap');
/* font-family: 'Urbanist', sans-serif; */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Urbanist', sans-serif;
	font-weight: 400;
}

/* =================================== INICIO ===================================*/
/* =================================== INICIO ===================================*/
/* =================================== INICIO ===================================*/

/* ===== GRID CONTAINER HOME ===== */
.grid-container__inicio{
	display: grid;
	grid-template-areas:
	"header navigation navigation"
	"hero hero hero"
	"main main main"
	"banner banner banner"
	"social social social"
	"footer footer footer";
}

/* ===== GRID ITEM ===== */
.grid-item {
	padding: 10px;
}

/* ===== REUSABLE BUTTON ===== */
.reusableButton{
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 30px;
	cursor: pointer;
	color: #fff;
	background-size: 300%;
	transition: 0.5s;
	background-image: linear-gradient(to left,  #234481, #4525F2);
}

.reusableButton:hover{
	background-position: right;
}

/* ===== GRID HEADER ===== */
.grid-header{
	grid-area: header;
	display: flex;
}

/* ===== GRID NAVIGATION ===== */
.grid-navigation{
	grid-area: navigation;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.grid-navigation li{
	list-style: none;
	display: inline-block;
}

.grid-navigation li a{
	text-decoration: none;
	color: #000;
	margin: 0 10px;
}

.grid-navigation .reusableButton a{
	color: #fff;
}

/* ===== GRID HERO ===== */
.grid-hero{
	grid-area: hero;
	height: 92.5vh;
	display: flex;
	background-image: url("../assets/img/inicioPrincipal.png");
	background-size: contain;
	justify-content: center;
	align-items: center;
}

.grid-hero__text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10%;
}

/*.grid-hero__img{
	display: flex;
	align-items: center;
}
.grid-hero__img img{
	width: 600px;
}*/

.grid-hero__text .grid-hero__text--principal{
	font-size: 4.68rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 600;
	color: #4525F2;
}

.grid-hero__text--secondary{
	text-align: center;
}

.grid-hero__text .grid-hero__text--secondary{
	font-size: 1.25rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 300;
	padding: 0.5% 0 3% 0;
}
.grid-hero__text .reusableButton{
	font-size: 1.2rem;
}

.grid-hero a{
	text-decoration: none;
	color: #000;
}

.grid-hero .reusableButton{
	color: #fff;
}

/* ===== GRID MAIN ===== */
.grid-main{
	grid-area: main;
}

.grid-main__subtitle{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.grid-main__subtitle .titleSub{
	font-weight: 600;
	font-size: 2.8rem;
	padding-top: 80px;
	color: #4525F2;
}
.grid-main__subtitle p{
	text-align: center;
	margin: 0 30% 0 30%;
}
.grid-main__box{
	/* CON FLEX*/
	/* display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px; */

	/* CON GRID*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 100px;
	justify-items: center;
	gap: 20px;
}

.grid-main__box .cat-date{
	font-weight: 600;
	font-size: 15px;
}

.grid-main__box .titleBox{
	font-weight: 600;
	font-size: 25px;
}

.grid-main__box img{
	width: 300px;
	border-radius: 10px;
}

.reusableBox{
	padding: 20px;
	width: 350px;
	text-align: center;
}

.reusableButton a{
	text-decoration: none;
	color: #fff;
	display: flex;
}

.grid-main .reusableButton{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -3% 46% 5% 46%;
}

/* ===== GRID BANNER ===== */
.grid-banner{
	grid-area: banner;
	background-color: #D7DCDE;
	padding: 108px;
	display: flex;
	justify-content: space-evenly;
}

.grid-banner a{
	text-decoration: none;
}

.grid-banner p{
	font-size: 2rem;
	font-weight: 600;
}

.grid-banner .reusableButton{
	padding: 10px 30px 10px 30px;
}

.grid-banner .reusableButton{
	background-color: #fff;
}
/* ===== GRID SOCIAL ===== */
.grid-social{
	grid-area: social;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4525F2;
	color: #fff;
	padding: 50px;
}

.grid-social li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	padding-top: 5%;
}

.grid-social li a{
	text-decoration: none;
	color: #fff;
}

/* ===== GRID FOOTER ===== */
.grid-footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}

.grid-footer p{
	margin: 0 10px;
}



/* =================================== GALERIA ===================================*/
/* =================================== GALERIA ===================================*/
/* =================================== GALERIA ===================================*/

/* ===== GRID CONTAINER GALERY ===== */
.grid-galery__container{
	display: grid;
	grid-template-areas: 
	"header navigation navigation"
	"hero hero hero"
	"main main main"
	"social social social"
	"footer footer footer";
}

/* ===== GRID HEADER ===== */
.grid-galery__header{
	grid-area: header;
	display: flex;
}
/* ===== GRID NAVIGATION ===== */
.grid-galery__navigation{
	grid-area: navigation;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.grid-galery__navigation li{
	list-style: none;
	display: inline-block;
}

.grid-galery__navigation li a{
	text-decoration: none;
	color: #000;
	margin: 0 10px;
}

.grid-galery__navigation .reusableButton a{
	color: #fff;
}
/* ===== GRID HERO ===== */
.grid-galery__hero{
	grid-area: hero;
	height: 92.5vh;
	display: flex;
	background-image: url("../assets/img/galeryPrincipal.png");
	background-size: contain;
	justify-content: flex-end;
	background-repeat: no-repeat;
	align-items: center;
	padding-right: 6%;
}


.grid-galeryHero__text{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 10%;
}


.grid-galeryHero__text .grid-galeryHero__text--principal{
	font-size: 4.68rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 600;
	color: #4525F2;
}

.grid-galeryHero__text--secondary{
	text-align: center;
}

.grid-galeryHero__text .grid-galeryHero__text--secondary{
	font-size: 1.25rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 300;
	padding: 0.5% 0 3% 0;
}
.grid-galeryHero__text .reusableButton{
	font-size: 1.2rem;
}

.grid-galeryHero a{
	color: #000;
}

.grid-galeryHero__text .reusableButton{
	color: #fff;
	text-decoration: none;
}


/* ===== GRID MAIN ===== */
.grid-galery__main{
	grid-area: main;
}

.precioComprar{
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
	padding-top: 3%;
	
}

.precioComprar a{
	text-decoration: none;
}

/* ===== GRID SOCIAL ===== */
.grid-galery__social{
	grid-area: social;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4525F2;
	color: #fff;
	padding: 50px;
}

.grid-galery__social li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	padding-top: 5%;
}

.grid-galery__social li a{
	text-decoration: none;
	color: #fff;
}
/* ===== GRID FOOTER ===== */
.grid-galery__footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}

.grid-galery__footer p{
	margin: 0 10px;
}
